/*
  main.CSS
  Colors
  *******
  black: #000000
  darker gray: #222222
  dark gray: #333333
  gray: #444444
  light gray: #eeeeee
  light blue: #00c0ff
  dark blue: #0090bf
*/

/* *****************
  General Styles
***************** */
*{
  box-sizing: border-box;
}

body{
  font-family:;
  font-size: ;
  line-height: ;
  color:;
  background:;
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at center, rgba() 0%,rgba() %);
  background-attachment: fixed;
  height:100%;
}

.iFrame{
	z-index:-1;
}

html{
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}


/* *****************
  Header / Nav
***************** */
#bigImg{
  width:100%;
  height:940px;
  background: url(../landingHolder.jpg) no-repeat 50% 50%;
  background-size:cover;
  display:table;
  top:0;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
    /* *****************
      Social bar
    ***************** */
      /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
      .icon-bar {
        position: fixed;
        top: 17.7%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left:97.36%;
        z-index:1;
      }

      /* Style the icon bar links */
      .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
      }

      /* Style the social media icons with color*/
      .facebook {
        background: #3B5998;
        color: white;
      }

      .twitter {
        background: #55ACEE;
        color: white;
      }

      .google {
        background: #dd4b39;
        color: white;
      }

      .linkedin {
        background: #007bb5;
        color: white;
      }

      .youtube {
        background: #bb0000;
        color: white;
      }

      .soundcloud {
        background: #ff7700;
        color: white;
      }

      .spotify {
        background: #1DB954;
        color: white;
      }

      /* hover effects*/ 

      .icon-bar .facebook:hover {
        background: #111;
        color: white;
      }

      .icon-bar .twitter:hover {
        background: #111;
        color: white;
      }

      .icon-bar .google:hover {
        background: #111;
        color: white;
      }

      .icon-bar .linkedin:hover {
        background: #111;
        color: white;
      }

      .icon-bar .youtube:hover {
        background: #111;
        color: white;
      }

      .icon-bar .spotify:hover {
        background: #111;
        color: white;
      }

      .icon-bar .soundcloud:hover {
        background: #111;
        color: white;
      }


    /* *****************
     Side panel 
    ***************** */

      .sidePanel{
        height:250px;
        width:0;
        position:fixed;
        z-index:1;
        top:0;
        background-color:#111;
        overflow-x:hidden; /* disabale horizontal scroll*/
        padding-top:20px;  /* position content 60px from the top*/
        transition: 0.5s;   /* 0.5s transistion effect to slide in the panel*/
      }

      .sidePanel a{ /* side panel links*/
        padding: 8px 8px 8px 32px;
        margin-left:25%;
        text-decoration:none;
        font-size:1.3rem;
        color:white;
        display:block;
        transition:0.3s;
				z-index:1;
      }

      .sidePanel a:hover{
        color:grey;
      }

      .sidePanel .closebtn{ /* position and styling of close button*/
        position:absolute;
        top:0;
        right:205px;
        font-size:1.1rem;
        margin-left:50px;
      }

      .openbtn{
        position:fixed;
        font-size: 1.5rem;
        cursor:pointer;
        background-color:#111;
        color:white;
        padding:0.5% 0.78125%;
        border:none;
        transition: all 0.5s;
      }

      .openbtn:hover{
        opacity:0.7;
      }

 
/* *****************
    Footer 
 ***************** */     

footer{
  margin: 5px 0;
  position:fixed;
  bottom:-2%;
  width:100%;
  background-color:white;
}
footer p{
  float: left;
  font-family: 'Dosis', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;


  -webkit-text-shadow: 2px 2px 9px rgba(0,0,0,0.75);
  -moz-text-shadow:    2px 2px 9px rgba(0,0,0,0.75);
  -o-text-shadow:      2px 2px 9px rgba(0,0,0,0.75);
  text-shadow:         2px 2px 9px rgba(0,0,0,0.75);
  margin-left:8%;
}

footer nav{
  float: right;
}

footer nav ul{
  margin: 0;
  padding: 0;
}

footer nav ul li a{
  text-decoration: none;
  list-style: none;
  color: black;
}
footer nav ul li {
  list-style: none;
  float:left;
  margin: 0 20px;
  cursor: pointer;
  font-family: 'Dosis', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;


  -webkit-transition: width 0.20s ease-in-out;
  -moz-transition:    width 0.20s ease-in-out;
  -o-transition:      width 0.20s ease-in-out;
  transition:         width 0.20s ease-in-out;

  -webkit-text-shadow: 2px 2px 9px rgba(0,0,0,0.75);
  -moz-text-shadow:    2px 2px 9px rgba(0,0,0,0.75);
  -o-text-shadow:      2px 2px 9px rgba(0,0,0,0.75);
  text-shadow:         2px 2px 9px rgba(0,0,0,0.75);
}

footer nav ul li a:hover{
  color: rgba(81, 119, 189, 0.96);

}

footer nav ul li a:active{
  color: #000;
}

#contact{
  margin-right: 0;
}

/* *****************
  Footer social
***************** */
footer #socialFooter{
  display: inline;
  position: absolute;
  right: 80vh;
}
footer #socialFooter ul{
margin: 0;
padding: 0;
}
footer #socialFooter ul li{
  list-style: none;
  float: left;
  padding: 0 15px;
}

footer #socialFooter ul li img{
  width: 90%;
  height:auto;

  -webkit-transition: width 0.20s ease-in-out;
  -moz-transition:    width 0.20s ease-in-out;
  -o-transition:      width 0.20s ease-in-out;
  transition:         width 0.20s ease-in-out;

}

footer #socialFooter ul li img:hover{
  width: 100%;
  height:auto;
}
footer #socialFooter ul li img:active{
  bottom: 1px;
}

footer nav{
  margin-right:8%;
  margin-top:.5%;
}

/******************
  video slide in
******************/
.iFrame{
  margin:2% 0;
}

.come-in{
  transform: translateY(200px);
  animation: come-in 1.3s ease forwards;
}

.come-in: nth-child(odd){
  animation: 0.6s;
}

@keyframes come-in{
  to { transform: translateY(0); }
}


